{% set title = 'Управление пользователями' %}

{% extends 'InstudiesAdminBundle:Shared:base.html.twig' %}

{% block content %}

	<div id="manage-user">

		<header class="page-header">
			<h2>{{ title }}</h2>
		</header>

		<form action="#" class="user-search">
			<fieldset>
				<dl>
					<dt><label for="search_id">Введите id пользователя</label></dt>
					<dd><input type="text" class="span2" id="search_id"></dd>
					<dt><label for="email">Введите email</label></dt>
					<dd><input type="text" class="span2" id="email"></dd>
				</dl>
				<button class="btn btn-success">найти</button>
			</fieldset>
		</form>

		{% if userForm is defined %}

			<form class="manage-user">
				<fieldset>
					<dl>
						<dt>Имя:</dt>
						<dd><input type="text" class="span4"></dd>
					</dl>
					<dl>
						<dt>Фамилия:</dt>
						<dd><input type="text" class="span4"></dd>
					</dl>
					<dl>
						<dt>Email:</dt>
						<dd><input type="email" class="span4"></dd>
					</dl>
					<dl>
						<dt>Email активирован:</dt>
						<dd><input type="checkbox"></dd>
					</dl>
					<dl>
						<dt>информация заполнена:</dt>
						<dd><input type="checkbox"></dd>
					</dl>
					<dl>
						<dt>Пароль:</dt>
						<dd><input type="text" class="span4"></dd>
					</dl>
					<button class="btn btn-success">сохранить</button>
					<button class="btn btn-danger">удалить</button>
				</fieldset>
			</form>

		{% endif %}

	</div>

{% endblock %}